body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(2, 100px);
    grid-auto-rows: 200px;
    grid-auto-flow: column;
}

.grid-item {
    border: 1px solid;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}