body {
    font-family: sans-serif;
    background-image: radial-gradient(circle, #b94bf8, #3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 40px 30% 30vw; */
    /* grid-template-columns: 50px 2fr 1fr; */
    /* grid-template-columns: 100px repeat(2, 150px) repeat(2, 50px); */
    grid-template-columns: repeat(0, 50px, 150px, 75px); /* Esto no me funciona */
}

.grid-item {
    border: 1px solid;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
}