/* .list {
    list-style-type: lower-latin;
} */

.list {
    /* list-style-position: inside; */
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

/* .list__item {
    background: red;
} */


/* .list__item::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(check.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 1em;
} */

/* .list__item {
    background-image: url(check.jpg);
    background-position: 0.0;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 2em;
} */